<!DOCTYPE html>
<html>
	<head>
		<title>Fichier envoyé</title>
		<link href="/static/style.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Fichier envoyé</h1>
		</header>
		<section>
			<p>Votre fichier est envoyé! Il est téléchargeable à l'adresse si dessous</p>
			<a href="{{addrLink}}">{{addrLink}}</a>
		</section>
	</body>
</html>